assets/*
bin/*
gen/*
.classpath
project.properties
test/assets/*
test/bin/*
test/gen/*
app/assets/*
app/bin/*
app/gen/*
app/out/*
app/.classpath
app/project.properties
app/ant.properties
app/keystore
test/project.properties
.idea
test/*.iml
app/*.iml
