<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gimranov.zandy.app"
    android:versionCode="1380"
    android:versionName="1.3.8">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.gimranov.zandy.app.Application"
        android:icon="@drawable/zandy72"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="zotero" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CollectionActivity"
            android:label="@string/app_name"
            android:launchMode="standard" />
        <activity
            android:name=".ItemActivity"
            android:label="@string/app_name"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ItemDataActivity"
            android:label="@string/app_name"
            android:launchMode="standard" />
        <activity
            android:name=".TagActivity"
            android:label="@string/app_name"
            android:launchMode="standard" />
        <activity
            android:name=".CreatorActivity"
            android:label="@string/app_name"
            android:launchMode="standard" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:launchMode="standard" />
        <activity
            android:name=".AttachmentActivity"
            android:label="@string/app_name"
            android:launchMode="standard" />
        <activity
            android:name=".CollectionMembershipActivity"
            android:label="@string/app_name"
            android:launchMode="standard" />
        <activity
            android:name=".LookupActivity"
            android:label="@string/app_name"
            android:launchMode="standard" />
        <activity
            android:name=".RequestActivity"
            android:label="@string/app_name"
            android:launchMode="standard" />
        <activity
            android:name=".NoteActivity"
            android:label="@string/app_name"
            android:launchMode="standard" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="d02b3d0416bed4f24247e9114e295b0f38ae0455" />
    </application>
</manifest>